<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>lec02-1</title>
</head>
<p>Hi [[${login_user}]]</p>

<body>
  <h1>Lec02 GET!</h1>
  <a href="/logout">ログアウト</a>

  <p th:if="${user2}">
    エントリー
    <li th:each="user : ${user2}">
      <a th:href="@{/match(id=${user.id})}">
        [[${user.name}]]
      </a>
    </li>
  </p>
  <p th:if="${match5}">
  <div th:each="match,stat:${match5}">
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>user_1:[[${match.user_1}]]</td>
      <td>user_2:[[${match.user_2}]]</td>
      <td>user_1_hand:[[${match.user_1_hand}]]</td>
      <td>user_2_hand:[[${match.user_2_hand}]]</td>
    </tr>
  </div>
  </p>
  <div>
    <a href="/lec02/step2">ぐー</a>
    <a href="/lec02/step3">ちょき</a>
    <a href="/lec02/step4">ぱー</a>
  </div>
  <div th:if="${gu}">
    あなたの手：[[${gu}]]
    <br />
    あいての手：ぐー
    <br />
    結果：引き分け
  </div>
  <div th:if="${choki}">
    あなたの手：[[${choki}]]
    <br />
    あいての手：ぐー
    <br />
    結果：あなたの負け
  </div>
  <div th:if="${pa}">
    あなたの手：[[${pa}]]
    <br />
    あいての手：ぐー
    <br />
    結果：あなたの勝ち
  </div>
</body>

</html>
